# @AllArgsConstructor 才会生效 replacement @ConstructorProperties({"addressLine1", "addressLine2"})
lombok.anyConstructor.addConstructorProperties=true
lombok.addLombokGeneratedAnnotation = true
# easy-excel 不兼容 lombok.accessors.chain=true
# Constructor 全局配置
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier